name: Entrega continua de contador

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v3

      - name: Configurar GitHub Pages
        uses: actions/configure-pages@v3

      - name: Subir archivos (preparar para deploy)
        uses: actions/upload-pages-artifact@v1
        with:
          path: .  # Asegúrate que tu index.html está en la raíz
